<!DOCTYPE html>
<html>
  <head>
    <title>Consultoria de Sono</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

<body>
  <nav class="navbar">
    <div class="navbar-container navbar-center">

    <!-- BOTÃO HAMBÚRGUER (aparece só no mobile via CSS) -->
    <button class="menu-toggle" aria-label="Abrir menu">
    ☰
    </button>

    <ul class="navbar-links">
      <li><%= link_to "Início", root_path %></li>
      <li><%= link_to "Sobre", sobre_path %></li>
      <li><%= link_to "Planos", planos_path %></li>
      <li><%= link_to "Depoimentos", depoimentos_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>

	  </div>
  </nav>


    <%= yield %>

</body>
</html>
